@blue: #2cadff;

#logo {
    position: relative;
    float: left;
    width: 210px;
    height: 40px;
    margin: 0 10px;
    margin-left: 0;
    a {
        display: block;
        position: absolute;
        top: 4px;
        left: -10px;
        width: 196px;
        height: 32px;
        background: url(../img/logo.png) no-repeat 0 0;
        padding: 0;
        margin: 0;
        text-indent: -6000em;
    }
}
.navbar-inverse .navbar-inner {
    background: #2d353b;
    .box-shadow(0 0 0 rgba(0,0,0,0));
    border: 0 none;
    a {
        color: #82898f;
    }
    color: #82898f;
    .nav {
        li {
            a {
                color: #82898f;
                &:hover {
                    #gradient > .vertical(#404b54, #3a444d);
                    text-decoration: none;
                    color: white;
                }
            }
        }
        li.active {
            a {
                #gradient > .vertical(#28b022, #1d8a36);
                .box-shadow(inset 0 0 0 #41dd0b);
                color: #FFF;
            }
        }
    }
}

.body-application {
    @w: 260px;
    background: #ededed url(../img/col1.png) repeat-y -(300-@w) 0;

    .modal-backdrop {
        background-color: #191e22;
    }
    .container-application {
        padding: 0;
        .row-application {
            position: relative;
            .col1 {
                position: fixed;
                left: 0;
                top: 40px;
                width: @w - 20px;
                z-index: 1000;
            }
            .col2 {
                padding-left: @w;
                padding-right: 20px;
            }
        }
    }
    ul.well {
        background: 0 none;
        .box-shadow(0 0 0 rgba(0,0,0,0));
        padding: 0;
        margin: 0;
        border: 0 none;
        text-shadow: 0 1px 0 rgba(0,0,0,.4);
        border-bottom: 1px solid #1e2327;
        li {
            padding: 0;
            margin: 0;
            border-top: 1px solid #1e2327;
            #gradient > .vertical(#313a42, #2e363d);
            a {
                display: block;
                color: #82898f;
                padding: 5px 10px;
                font-size: @fontSizeSmall;
                margin: 0;
                .box-shadow(inset 0 1px 0 rgba(255,255,255,0.1));
                &:hover {
                    //background: #3a444d;
                    #gradient > .vertical(#404b54, #3a444d);
                    text-decoration: none;
                    color: white;
                }
            }
            &.well-header, &.well-mongo {
                color: white;
                >a {
                    position: relative;
                    font-size: 14px;
                    color: white;
                    span {
                        color: @blue;
                        font-size: 12px;
                    }
                    i {
                        position: absolute;
                        right: 5px;
                        top: 7px;
                    }
                }
                ul.dropdown-menu {
                    background: 0 none;
                    text-shadow: 0 1px 0 rgba(255,255,255,.4);
                    .border-radius(0);
                    .box-shadow(0 0 0 black);
                    padding: 0;
                    margin: 0;
                    width: 200px;
                    left: @w - 25;
                    .box-shadow(0 1px 3px rgba(0,0,0,.4));
                    top: 8px;
                    z-index: 1000;
                    border: 0 none;
                    li {
                        .box-shadow(0 0 0 black);
                        border: 0 none;
                        a {
                            background: white;
                            color: #000;
                            border: 0 none;
                            &:hover {
                                #gradient > .vertical(#404b54, #3a444d);
                                color: #FFF;
                                text-shadow: 0 1px 0 rgba(0,0,0,.4);
                            }
                            i {
                                margin-top: 0;
                            }
                        }
                        &.active {
                            a, a:hover {
                                #gradient > .vertical(#28b022, #1d8a36);
                                .box-shadow(inset 0 0 0 #FFF);
                                text-shadow: 0 1px 0 rgba(0,0,0,.4);
                                color: #FFF;
                            }
                        }
                        &.divider {
                            #gradient > .vertical(#CCC, #CCC);
                        }
                    }
                }
            }
            &.well-mongo {
                padding: 8px 8px;
                >a {
                    .border-radius(6px);
                    font-size: 14px;
                    #gradient > .vertical(#28b022, #1d8a36);
                    .box-shadow(inset 0 1px 0 #41dd0b);
                    color: white;
                    span {
                        color: @blue;
                        font-size: 12px;
                    }
                    &:hover {
                        #gradient > .vertical(#36cb2f, #239b1e);
                    }
                }
            }
            &.open {
                >a, >a:hover {
                    #gradient > .vertical(#36cb2f, #239b1e);
                    text-decoration: none;
                    color: white;
                }
            }
            &.item-collection {
                a {
                }
            }
            &.active {
                a, a:hover {
                    #gradient > .vertical(#28b022, #1d8a36);
                    .box-shadow(inset 0 1px 0 #41dd0b);
                    color: #FFF;
                    span {
                        color: #FFF;
                    }
                }
            }
        }
    }
    .main {
        padding: 0;
        background: #FFF;
        .border-radius(6px);
        .box-shadow(0 0 5px rgba(0,0,0,.3));
    }
    .title {
        position: relative;
        margin: 10px 0;
        ul.labels{
            color: #000;
            margin: 0;
            padding: 10px 0;
            list-style: 0 none;
            list-style-type: none;
            font-size: 20px;
            .clearfix();
            font-weight: bold;
            li {
                float: left;
                marign: 0;
                padding: 0;
                a, span {
                    line-height: 20px;
                    color: #222;
                }
            }
            li.separator {
                border-right: 1px solid #AAA;
                .box-shadow(1px 0 0 rgba(255,255,255,0.6));
                width: 15px;
                height: 20px;
                margin-right: 15px;
            }
        }
        .pagination {
            position: absolute;
            right: 5px;
            bottom: 10px;
            margin: 0;
            padding: 0;
        }
        .head-actions {
            border-top: 1px solid #CCC;
            border-bottom: 1px solid #CCC;
            .box-shadow(~"0 1px 0 rgba(255,255,255,0.6), inset 0 1px 0 rgba(255,255,255,0.6)");
            margin-top: 5px;
            padding: 4px 0 10px 0;
        }
    }
    .modal{
        @wd: 400px;
        width: @wd;
        margin-left: -(@wd/2);
        .form-horizontal {
            padding-top: 15px;
            .control-label {
                width: 100px;

            }
            .controls {
                margin-left: 110px;
                input {
                    line-height: 20px;
                    height: 28px;
                }
            }
        }
    }
    .table {
        tr {
            td {
                font-size: 13px;
            }
            th {
                font-size: 14px;
            }
        }
    }
}

