.toast-container {
	//width: 280px;
	z-index: @zindexModalBackdrop - 1;
}


* html .toast-container {
	position: absolute;
}

.toast-item {
	position: relative;
    .clearfix();
	display: block;
	height: auto;
	background: #FFF;
	color: rgba(0,0,0,.8);
	padding: 10px;
    padding-bottom: 0;
    padding-right: 40px;
	margin: 0 0 12px 0;
}

.toast-item p {
    text-align: left;
}

.toast-item-close {
    .close();
    display: block;
    position: absolute;
    right: 5px;
    top: 0px;
    float: none;
}

.toast-item-image {
    display: none;
}


/**
 * toast types
 *
 * pattern: toast-type-[value]
 * where 'value' is the real value of the plugin option 'type'
 *
 */
.toast-type-notice {
    background: #a9d3e7;
}

.toast-type-success {
    background: #addca3;
}

.toast-type-warning {
    background: #e7e2a9;
}

.toast-type-error {
    background: #e7a9a9;
}

/**
 * positions
 *
 * pattern: toast-position-[value]
 * where 'value' is the real value of the plugin option 'position'
 *
 */
.toast-position-top-left {
    position: fixed;
    left: 20px;
    top: 50px;
}

.toast-position-top-center {
    position: fixed;
    top: 20px;
    left: 50%;
    margin-left: -140px;
}

.toast-position-top-right {
    position: fixed;
    top: 95px;
    right: 20px;
}

.toast-position-middle-left {
    position: fixed;
    left: 20px;
    top: 50%;
    margin-top: -40px;
}

.toast-position-middle-center {
    position: fixed;
    left: 50%;
    margin-left: -140px;
    margin-top: -40px;
    top: 50%;
}

.toast-position-middle-right {
    position: fixed;
    right: 20px;
    margin-left: -140px;
    margin-top: -40px;
    top: 50%;
}
