<div class="pagination">
    <div class="left" ng-bind-html-unsafe="pageInfos()"></div>
    <ul class="right" ng-show="pages().length>1">
        <li ng-class="{disabled: currentPage == 1}"><a ng-click="previous()">{{previousLabel}}</a></li>
        <li ng-class="{active: currentPage == (n)}" ng-repeat="n in pages()">
            <a ng-click="select(n)">{{n}}</a>
        </li>
        <li ng-class="{disabled: currentPage == totalPage()}"><a ng-click="next()">{{nextLabel}}</a></li>
    </ul>
</div>